@page "/Settings"
@rendermode InteractiveWebAssembly

<h3>Settings</h3>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <i class="fas fa-globe fa-3x mb-3"></i>
          <h5 class="card-title">World Settings</h5>
          <a href="/Settings/World" class="btn btn-primary">Go to World Settings</a>
        </div>
      </div>
    </div>
  </div>
</div>
