@page "/chats"
@rendermode InteractiveServer

<div class="container">
  <div class="container-header d-flex flex-row justify-content-start align-content-center mb-3">
    <h3 class="mb-1 mt-1 me-4">Chats</h3>
    <button class="btn btn-primary" @onclick="Start">
      <i class="bi bi-plus-lg me-2"></i>Start a New Chat
    </button>
  </div>

  <div class="container-body">
    @if (_chats.Count == 0) {
      <p>No chats found.</p>
    }
    else {
      <table class="table">
        <tbody>
          @foreach (var chat in _chats) {
            <tr class="row">
              <td class="col-2">
                <button class="btn btn-primary btn-sm" @onclick="() => Archive(chat.Id)">
                  <i class="bi bi-box-arrow-in-down"></i>
                </button>
                <button class="btn btn-danger btn-sm" @onclick="() => Delete(chat.Id)">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
              <td class="col-3">
                <a class="btn btn-link px-0" @onclick="() => Resume(chat.Id)">
                  @chat.Title
                </a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    }
  </div>
</div>

@if (_showChatSetupDialog) {
  <ChatSetupDialog Chat="_selectedChat" OnStart="StartChat" OnCancel="CloseChatDialog" />
}

