@page "/Settings"
@rendermode InteractiveServer

<div class="container">
  <div class="container-header row mb-3">
    <div class="col-md-6">
      <h3>Settings</h3>
    </div>
  </div>

  <div class="container-body">
    <div class="row justify-content-center">
      <div class="col-md-4 mb-4">
        <div class="card">
          <a href="/Settings/World" class="btn btn-outline-primary stretched-link">
            <div class="card-body text-center">
              <i class="fas fa-globe fa-3x mb-3"></i>
              <h5 class="card-title">World Settings</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <a href="/Settings/Tools" class="btn btn-outline-primary stretched-link">
            <div class="card-body text-center">
              <i class="fas fa-toolbox fa-3x mb-3"></i>
              <h5 class="card-title">Tools Management</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
