@rendermode InteractiveServer

<div class="sidebar @CollapseCssClass">
  <div class="top-row navbar navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="">
        <i class="bi bi-app" aria-hidden="true"></i>
        <span>Sophia</span>
      </a>
      <button class="navbar-toggler" @onclick="ToggleNavMenu" title="Navigation menu">
        <i class="bi bi-list"></i>
      </button>
    </div>
  </div>

  <nav class="flex-column">
    <div class="nav-item">
      <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <i class="bi bi-house-door-fill" aria-hidden="true"></i>
        <span>Home</span>
      </NavLink>
    </div>
    <div class="nav-item">
      <NavLink class="nav-link" href="Chats" Match="NavLinkMatch.Prefix">
        <i class="bi bi-chat-text" aria-hidden="true"></i>
        <span>Chats</span>
      </NavLink>
    </div>
    <div class="nav-item">
      <NavLink class="nav-link" href="Personas" Match="NavLinkMatch.Prefix">
        <i class="bi bi-people" aria-hidden="true"></i>
        <span>Personas</span>
      </NavLink>
    </div>
    <div class="nav-item">
      <NavLink class="nav-link" href="Settings" Match="NavLinkMatch.Prefix">
        <i class="bi bi-gear-fill" aria-hidden="true"></i>
        <span>Settings</span>
      </NavLink>
    </div>

    <AuthorizeView>
      <Authorized>
        <div class="nav-item">
          <NavLink class="nav-link" href="Account/Manage" Match="NavLinkMatch.Prefix">
            <i class="bi bi-person-fill" aria-hidden="true"></i>
            <span>@context.User.Identity?.Name</span>
          </NavLink>
        </div>
        <div class="nav-item">
          <form action="Account/Logout" method="post">
            <AntiforgeryToken />
            <input type="hidden" name="ReturnUrl" value="@_currentUrl" />
            <button type="submit" class="nav-link">
              <i class="bi bi-arrow-bar-left" aria-hidden="true"></i>
              <span>Logout</span>
            </button>
          </form>
        </div>
      </Authorized>
      <NotAuthorized>
        <div class="nav-item">
          <NavLink class="nav-link" href="Account/Register" Match="NavLinkMatch.Prefix">
            <i class="bi bi-person" aria-hidden="true"></i>
            <span>Register</span>
          </NavLink>
        </div>
        <div class="nav-item">
          <NavLink class="nav-link" href="Account/Login">
            <i class="bi bi-person-badge" aria-hidden="true"></i>
            <span>Login</span>
          </NavLink>
        </div>
      </NotAuthorized>
    </AuthorizeView>
  </nav>
</div>
