@page "/Error"

<div class="container">
  <div class="container-header row mb-3">
    <h3 class="text-danger">Error.</h3>
  </div>
  <div class="container-body">
    <p class="text-danger">An error occurred while processing your request.</p>

    @if (ShowRequestId) {
      <p>
        <strong>Request ID:</strong> <code>@RequestId</code>
      </p>
    }

    @if (!Environment.IsDevelopment()) {
      <div class="text-danger">
        <h3>Debugging mode is not enabled.</h3>
        <p>
          Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
        </p>
        <p>
          <strong>The debugging mode shouldn't be enabled for deployed applications.</strong>
          It can result in displaying sensitive information from exceptions to end users.
          For local debugging, enable the <strong>debugging mode</strong> by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
          and restarting the app.
        </p>
      </div>
    }
  </div>
</div>
