.provider-card {
  border-radius: 10px;
  background-color: #f8f9fa;
  border: 2px solid #dee2e6;
}

  .provider-card:hover {
    background-color: #e9ecef;
    border-color: #c1c9d0;
  }

  .provider-card .card-title {
    font-size: 1.1rem;
    font-weight: 500;
    color: #212529;
  }
