@page "/settings/providers"
@rendermode InteractiveServer

<div class="container">
  <div class="container-header d-flex flex-row justify-content-start align-content-center mb-3">
    <h3 class ="mb-1 mt-1 me-4">Providers</h3>
    <button type="button" class="btn btn-secondary" @onclick="GoBack">
      <i class="bi bi-arrow-return-left me-2"></i>Back
    </button>
  </div>

  <div class="container-body">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <div class="col">
        <div class="card provider-card clickable" @onclick="Add">
          <div class="card-body  d-flex flex-column justify-content-center align-items-center">
            <i class="bi bi-plus-circle" style="font-size: 3rem;"></i>
            <h5 class="card-title mt-2">Add Provider</h5>
          </div>
        </div>
      </div>
      @foreach (var provider in _providers) {
        <div class="col">
          <div class="card provider-card clickable" @onclick="() => View(provider)">
            <div class="card-body  d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-robot" style="font-size: 3rem;"></i>
              <h5 class="card-title mt-2">@provider.Name</h5>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
