.skills-container {
  max-width: 1024px;
  margin-bottom: 2rem;
}

.skills-list-container {
  background-color: #f8f9fa;
  max-width: 1024px;
  border-radius: 0.25rem;
}

.skills-form-container {
  background-color: #f8f9fa;
  max-width: 1024px;
  border-radius: 0.25rem;
}

@media (min-width: 768px) {
  .skills-form-container {
    margin: 0 auto;
  }
}

.form-label {
  font-weight: 500;
}

.form-control {
  background-color: #fff;
}

  .form-control:disabled {
    background-color: #e9ecef;
  }

.btn-group > .btn {
  flex: 1;
}
