<div class="modal modal-lg fade show" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">@Action Fact</h5>
        <button type="button" class="btn-close" @onclick="Cancel"></button>
      </div>
      <div class="modal-body">
        <EditForm Model="@Fact" id="fact-form" OnValidSubmit="Save">
          <DataAnnotationsValidator />
          <div class="row mb-3">
            <div class="col-8">
              <label for="factValue" class="form-label">Value</label>
              <InputText id="factValue" class="form-control" @bind-Value="Fact.Value" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-8">
              <label for="factValueTemplate" class="form-label">Value Template</label>
              <InputText id="factValueTemplate" class="form-control" @bind-Value="Fact.ValueTemplate" />
              <ValidationMessage For="@(() => Fact.ValueTemplate)" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-8">
              <label for="factDefaultText" class="form-label">Default Text</label>
              <InputText id="factDefaultText" class="form-control" @bind-Value="Fact.DefaultText" />
              <ValidationMessage For="@(() => Fact.DefaultText)" />
            </div>
          </div>
        </EditForm>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
        <button type="submit" class="btn btn-primary" form="fact-form">Save</button>
      </div>
    </div>
  </div>
</div>
